apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app: user-registration
configMapGenerator:
- name: my-application-properties
  #behavior: merge
  envs:
  - application.properties
secretGenerator:
- name: mongo-secret
  behavior: replace
  envs:
  - secrets.txt
  type: Opaque
resources:
- 01-mongo-statefulset.yaml
- 02-user-mgt-api-deployment.yaml
- 03-user-mgt-web-app-deployment.yaml
- 04-ingress-service.yaml
- namespace.yaml